/* Importa la fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Variables CSS */
:root {
    --color-principal: #430cce;
    --color-secundario: #2d0591;
    --color-header: #000000;
    --color-fondo: #424242;
    --color-intermedio: #7a1ae8;
    /* Color intermedio */
    --color-texto: #ffffff;
    --familia-fuente: 'Poppins', sans-serif;
    --color-fondo-icono: #333;
    /* Color de fondo predeterminado para iconos */
    --color-fondo-tooltip: #333;
    /* Color de fondo de los tooltips */
    --color-tarjetas: rgba(0, 0, 0, 0.8);
}

/* Estilos generales */
body {
    font-family: var(--familia-fuente);
    line-height: 1.6;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

h1, h2 {
    color: #333;
}

.bg-morado {
    --bs-bg-opacity: 1;
    background-color: var(--color-secundario) !important;
    color:  var(--color-texto);
}

.logo {
    height: 50px;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    background: #333;
}

#inicio {
    background-color: rgba(128, 0, 128, 0.75); /* Morado con 75% de opacidad */
}
#sobre-nosotros,
#servicios,
#contacto {
    background-color: rgba(0, 0, 0, 0.75); /* Negro con 75% de opacidad */
}


@media (max-width: 768px) {
    .logo-container {
        flex-direction: column;
        align-items: center;
    }
}

/* Nuevo contenedor con bordes a los lados */
.bordered-container {
    border-left: 5px; /* Cambia el color y el grosor según lo desees */
    border-right: 5px; /* Cambia el color y el grosor según lo desees */
    padding: 20px; /* Espacio interno para que el contenido no toque los bordes */
    margin: 0 auto; /* Centrar el contenedor en la página */
    max-width: 1200px; /* Ancho máximo del contenedor */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

section {
    animation: fadeIn 1.5s ease-in-out forwards;
}

/* Estilos para los iconos sociales en el lado derecho */
.redes {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes .icon {
    position: relative;
    background: var(--color-fondo-icono);
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* Tooltip */
.redes .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: var(--color-fondo-tooltip);
    color: var(--color-texto);
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Triángulo del tooltip */
.redes .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: var(--color-fondo-tooltip);
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s ease;
}

/* Efecto hover en el icono */
.redes .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* Efecto hover y color de los iconos */
.redes .facebook:hover {
    background: #1877F2;
    /* Azul de Facebook */
}

.redes .instagram:hover {
    background: #E4405F;
    /* Rosa de Instagram */
}

.redes .github:hover {
    background: #010409;
    /* Gris oscuro de GitHub */
}

.redes .whatsapp:hover {
    background: #04aa44;
    /* Verde de Whatsapp */
}