/* Importa la fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Variables CSS */
:root {
    --color-principal: #430cce;
    --color-secundario: #2d0591;
    --color-header: #000000;
    --color-fondo: #424242;
    --color-intermedio: #7a1ae8;
    /* Color intermedio */
    --color-texto: #ffffff;
    --familia-fuente: 'Poppins', sans-serif;
    --color-fondo-icono: #333;
    /* Color de fondo predeterminado para iconos */
    --color-fondo-tooltip: #333;
    /* Color de fondo de los tooltips */
    --color-tarjetas: rgba(0, 0, 0, 0.8);
}

/* Estilos generales */
body {
    font-family: var(--familia-fuente);
    margin: 0;
    background: linear-gradient(135deg, var(--color-fondo) 0%, var(--color-intermedio) 50%, var(--color-principal) 100%);
    color: var(--color-texto);
    overflow-x: hidden;
    /* Evita el desplazamiento horizontal */
}

header {
    background-color: var(--color-header);
    padding: 10px 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 70px; /* Ajusta el tamaño del logo */
    margin-right: 10px; /* Espacio entre el logo y el texto */
}

.logo-text {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem; /* Tamaño del texto */
    color: #ffffff; /* Color del texto */
}


nav ul {
    list-style: none;
    display: flex;
    flex: 2;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--color-texto);
    text-decoration: none;
    font-weight: 700;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    transform: scale(1.1);
}

section {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 1000px;
    background-color: var(--color-tarjetas);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    animation: fadeIn 1s forwards;
}

section#inicio {
    text-align: center;
    padding: 100px 20px;
    animation-delay: 0.5s;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

.servicios-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    gap: 20px; /* Espaciado entre las tarjetas */
}

.servicio {
    margin: 0; /* Elimina el margen en las tarjetas */
    padding: 20px;
    background-color: #00000082;
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column; /* Asegura que el contenido dentro de la tarjeta se alinee verticalmente */
    justify-content: space-between; /* Espacio entre el título y el contenido */
    position: relative; /* Necesario para el efecto del título */
}

.servicio:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-5px) scale(1.05);
}

.servicios h2 {
    margin-bottom: 20px;
}

.servicio-title {
    text-align: center; /* Centra el contenido del título */
    padding: 10px 0; /* Espacio alrededor del título */
    position: relative; /* Para el efecto de sombra */
}

.servicio-title h3 {
    margin: 0; /* Sin margen en la parte superior del título */
}

.servicio-title i {
    display: block; /* Asegura que el ícono sea un bloque */
    margin: 10px auto; /* Centra el ícono */
    font-size: 4em; /* Tamaño del ícono */
    color: #007bff; /* Color del ícono */
}

.servicio-title::after {
    content: ""; /* Crea un pseudo-elemento */
    position: absolute; /* Coloca el pseudo-elemento relativo al título */
    left: 50%; /* Centra el pseudo-elemento horizontalmente */
    bottom: 0; /* Coloca el pseudo-elemento en la parte inferior */
    width: 80%; /* Ancho del pseudo-elemento */
    height: 5px; /* Alto del pseudo-elemento */
    background-color: #332146; /* Color de la línea */
    transform: translateX(-50%); /* Ajusta la posición del pseudo-elemento */
}

.servicio ul {
    list-style-type: none; /* Sin viñetas */
    padding: 0; /* Sin padding */
}

.sobre-mi-container {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.sobre-mi-imagen {
    width: 250px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}

.sobre-mi-texto {
    flex: 1;
}

section#contacto {
    background-color: var(--color-tarjetas);
    border-radius: 15px;
    animation-delay: 1s;
}

section#contacto form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

section#contacto form input,
section#contacto form textarea {
    padding: 15px;
    border: 1px solid #000;
    /* Agrega un borde negro */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--color-texto);
    font-size: 1em;
    transition: background-color 0.3s ease;
}

section#contacto form textarea {
    resize: none;
    /* Evita que el usuario cambie el tamaño del textarea */
}

section#contacto form input:focus,
section#contacto form textarea:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

section#contacto form button {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: var(--color-principal);
    color: var(--color-texto);
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

section#contacto form button:hover {
    background-color: var(--color-secundario);
    transform: scale(1.05);
}

footer {
    background-color: var(--color-fondo);
    padding: 10px 0;
    text-align: center;
    color: var(--color-texto);
    font-size: 0.9em;
}

/* Estilos para los iconos sociales en el lado derecho */
.wrapper {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper .icon {
    position: relative;
    background: var(--color-fondo-icono);
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* Tooltip */
.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: var(--color-fondo-tooltip);
    color: var(--color-texto);
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Triángulo del tooltip */
.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: var(--color-fondo-tooltip);
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s ease;
}

/* Efecto hover en el icono */
.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* Efecto hover y color de los iconos */
.wrapper .facebook:hover {
    background: #1877F2;
    /* Azul de Facebook */
}

.wrapper .instagram:hover {
    background: #E4405F;
    /* Rosa de Instagram */
}

.wrapper .github:hover {
    background: #010409;
    /* Gris oscuro de GitHub */
}

.wrapper .whatsapp:hover {
    background: #04aa44;
    /* Verde de Whatsapp */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .servicios-container {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .servicios-container {
        grid-template-columns: 1fr; /* Una columna en pantallas muy pequeñas */
    }
}