/* Importa la fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Variables CSS */
:root {
    --color-principal: #430cce;
    --color-secundario: #2d0591;
    --color-header: #000000;
    --color-fondo: #424242;
    --color-intermedio: #7a1ae8;
    /* Color intermedio */
    --color-texto: #ffffff;
    --familia-fuente: 'Poppins', sans-serif;
    --color-fondo-icono: #333;
    /* Color de fondo predeterminado para iconos */
    --color-fondo-tooltip: #333;
    /* Color de fondo de los tooltips */
    --color-tarjetas: rgba(0, 0, 0, 0.8);
}

/* Estilos generales */
body {
    font-family: var(--familia-fuente) !important;
    line-height: 1.6 !important;
    background: linear-gradient(135deg, var(--color-fondo) 0%, var(--color-intermedio) 50%, var(--color-principal) 100%);
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--color-header) !important;
}

h1, h2 {
    color: #333;
}

.bg-morado {
    --bs-bg-opacity: 1;
    background-color: var(--color-secundario) !important;
    color: var(--color-texto);
}

.logo {
    width: 70px;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    background: #000000;
}

#inicio,
#sobre-nosotros,
#servicios,
#contacto {
    background-color: rgba(0, 0, 0, 0.75); /* Negro con 75% de opacidad */
    padding: 20px 15px; /* Espacio superior e inferior y lateral */
    color: var(--color-texto);
}

#sobre-nosotros img {
    width: 80%; /* Cambia el tamaño según tus necesidades */
    max-width: 300px; /* Máximo tamaño de la imagen */
    margin: auto; /* Centra la imagen */
}

/* Espacio a los lados de las secciones */
section {
    margin: 0 150px; /* Espacio lateral */
    border-radius: 10px; /* Bordes redondeados */
}

.btn-custom {
    background-color: #5719c9; /* Morado */
    color: white; /* Texto blanco */
}

.btn-custom:hover {
    background-color: #5a32a1; /* Morado más oscuro al pasar el mouse */
    color: white; /* Texto blanco */
}

/* Media query para pantallas más pequeñas (tablets y móviles) */
@media (max-width: 768px) {
    section {
        margin: 0 30px; /* Reduce el espacio lateral en tablets */
    }
}

@media (max-width: 480px) {
    section {
        margin: 0 15px; /* Reduce aún más el espacio lateral en móviles */
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

section {
    animation: fadeIn 1.5s ease-in-out forwards;
}

/* Ajustes para los elementos de texto dentro de los contenedores */
section h2, section p {
    color: var(--color-texto);
}
