/* Importa la fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Variables CSS */
:root {
    --color-principal: #430cce;
    --color-secundario: #2d0591;
    --color-header: #000000;
    --color-fondo: #424242;
    --color-intermedio: #7a1ae8;
    /* Color intermedio */
    --color-texto: #ffffff;
    --familia-fuente: 'Poppins', sans-serif;
    --color-fondo-icono: #333;
    /* Color de fondo predeterminado para iconos */
    --color-fondo-tooltip: #333;
    /* Color de fondo de los tooltips */
    --color-tarjetas: rgba(0, 0, 0, 0.8);
}

/* Estilos generales */
body {
    font-family: var(--familia-fuente) !important;
    line-height: 1.6 !important;
    background: linear-gradient(135deg, var(--color-fondo) 0%, var(--color-intermedio) 50%, var(--color-principal) 100%);
}

#particles-js {
    position: fixed; /* Usamos 'fixed' para que se quede en su lugar al hacer scroll */
    top: 0;
    left: 0;
    width: 100vw; /* 100% del ancho de la ventana */
    height: 100vh; /* 100% de la altura de la ventana */
    z-index: -1; /* Asegura que las partículas estén detrás del contenido */
    pointer-events: none; /* Esto asegura que las partículas no interfieran con la interacción del usuario */
}

header {
    background: var(--color-header) !important;
}

.seccion-ajustada {
    scroll-margin-top: 7rem; /* Ajusta este valor según la altura de tu navbar */
}

h1,
h2 {
    color: #333;
}

.bg-morado {
    --bs-bg-opacity: 1;
    background-color: var(--color-secundario) !important;
    color: var(--color-texto);
}

.logo {
    width: 70px;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    background: #000000;
}

#inicio,
#sobre-nosotros,
#servicios,
#contacto {
    background-color: rgba(0, 0, 0, 0.75);
    /* Negro con  opacidad */
    /* Espacio superior e inferior y lateral */
}

#sobre-nosotros img {
    width: 80%;
    max-width: 300px;
    /* Máximo tamaño de la imagen */
    margin: auto;
    /* Centra la imagen */
}

.btn-custom {
    background-color: #5719c9;
    /* Morado */
    color: white;
    /* Texto blanco */
}

.btn-custom:hover {
    background-color: #5a32a1;
    /* Morado más oscuro al pasar el mouse */
    color: white;
    /* Texto blanco */
}

/* Media query para pantallas más pequeñas (tablets y móviles) */
@media (max-width: 768px) {
    section {
        margin: 0 30px;
        /* Reduce el espacio lateral en tablets */
    }
}

@media (max-width: 480px) {
    section {
        margin: 0 15px;
        /* Reduce aún más el espacio lateral en móviles */
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

section {
    animation: fadeIn 1.5s ease-in-out forwards;
}

/* Estilos para los iconos sociales en el lado derecho */
.redes {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes .icon {
    position: relative;
    background: var(--color-fondo-icono);
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* Tooltip */
.redes .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: var(--color-fondo-tooltip);
    color: var(--color-texto);
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Triángulo del tooltip */
.redes .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: var(--color-fondo-tooltip);
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s ease;
}

/* Efecto hover en el icono */
.redes .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* Efecto hover y color de los iconos */
.redes .facebook:hover {
    background: #1877F2;
    /* Azul de Facebook */
}

.redes .instagram:hover {
    background: #E4405F;
    /* Rosa de Instagram */
}

.redes .github:hover {
    background: #010409;
    /* Gris oscuro de GitHub */
}

.redes .whatsapp:hover {
    background: #04aa44;
    /* Verde de Whatsapp */
}

.card-container {
    width: 100%;
    max-width: 300px;
    perspective: 2000px; /* Define la profundidad para el efecto 3D */
}

.card-flip {
    position: relative;
    width: 100%;
    height: 350px; /* Altura uniforme para todas las tarjetas */
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
}

.card-container:hover .card-flip {
    transform: rotateY(180deg); /* Efecto de rotación */
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Oculta el lado contrario al rotar */
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-front {
    z-index: 2;
}

.card-back {
    transform: rotateY(180deg); /* Rota el reverso para mostrarlo al girar */
}

.shadow-light {
    box-shadow: inset 0px 0px 14px 5px rgba(255, 255, 255, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.card-container:hover .shadow-light {
    box-shadow: inset 0px 0px 14px 5px rgba(255, 255, 255, 0.1);
}

#contacto::placeholder {
    color: #a8a8d3;
    /* Un morado claro para contraste */
    opacity: 1;
    /* Asegura que el color sea visible */
}

:-ms-input-placeholder {
    /* Para Internet Explorer */
    color: #a8a8d3;
}

::-ms-input-placeholder {
    /* Para Microsoft Edge */
    color: #a8a8d3;
}

.fe-letter {
    font-size: calc(2.5rem + 1.5vw); /* Tamaño por defecto, adaptable */
    letter-spacing: 7px; /* Espaciado por defecto */
    text-shadow: rgb(98, 31, 197) 6px 0px 0px;
}

@media (max-width: 768px) { /* Tablets y dispositivos medianos */
    .fe-letter {
        font-size: calc(2rem + 1.5vw); /* Reduce ligeramente el tamaño */
        letter-spacing: 5px; /* Ajusta el espaciado */
    }
}

@media (max-width: 576px) { /* Móviles */
    .fe-letter {
        font-size: 1.6rem; /* Tamaño reducido para móviles */
        letter-spacing: 1px;
        text-shadow: rgb(98, 31, 197) 2px 0px 0px;
    }
}
