<div class="redes py-3 text-white">
    <div class="icon facebook" id="facebook">
        <div class="tooltip">Facebook</div>
        <span><i class="fab fa-facebook-f"></i></span>
    </div>
    <div class="icon instagram" id="instagram">
        <div class="tooltip">Instagram</div>
        <span><i class="fab fa-instagram"></i></span>
    </div>
    <div class="icon github" id="github">
        <div class="tooltip">GitHub</div>
        <span><i class="fab fa-github"></i></span>
    </div>
    <div class="icon whatsapp" id="whatsapp">
        <div class="tooltip">Whatsapp</div>
        <span><i class="fab fa-whatsapp"></i></span>
    </div>
</div>