{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOMB</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="icon" href="{% static 'img/JOMB.png' %}" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <meta name="google-site-verification" content="oAh0fdncGo8SF5BI0N2HSTewI1COvk-3aCcWiwzsyRc" />
    <meta name="description" content="Servicios de tecnología, desarrollo de páginas web.">
    <meta property="og:title" content="JOMB - Servicios de Tecnología">
    <meta property="og:description" content="Ofrecemos instalación de cualquier versión de Windows, mejoras de rendimiento y más.">
    <meta property="og:image" content="{% static 'img/JOMB.png' %}">
    <link rel="stylesheet" href="{% static 'css/iconos.css' %}">
    <!-- Animate.css para micro-animaciones -->
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
        integrity="sha512-b7l0P+j0lLKqIuEM89+BfUhcFAZxP9ci97foYypEvk13RzFhIy3nS9qDka8sgg3SuIBu7fCKX5f+gPqDfU5n2g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
    <!-- AOS para animaciones al hacer scroll -->
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
        rel="stylesheet"
        integrity="sha512-G5YwLIeWkwbfrYvO6ds2v7zWDtokRWrQwnnd2I4otBUj0jQlvfSUCZnMLbhWct+zpddg2kkYyOch8zHfTtYkKQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
    <!-- Animate.css -->
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <!-- WOW.js -->
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"
    integrity="sha512-..."
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    ></script>
</head>

<body {% block body %}{% endblock %}>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top border-secondary border-3 border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="{% url 'web:index' %}">
                <img src="{% static 'img/JOMB.png' %}" alt="Logo de JOMB" class="logo i-sombra" style="width: 40px;">
                <h1 class="fs-4 fw-semibold text-white m-0">JOMB</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi" fill="currentColor"
                        viewBox="0 0 16 16">
                        <path fill="#ffff" fill-rule="evenodd"
                            d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z">
                        </path>
                    </svg>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="{% url 'web:index' %}" class="nav-link text-white">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'web:sobre_nosotros' %}" class="nav-link text-white">Sobre Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'web:servicios' %}" class="nav-link text-white">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'web:portafolio' %}" class="nav-link text-white">Portafolio</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'web:contacto' %}" class="nav-link text-white">Contáctenos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="particles-js"></div>

    <div class="redes py-3 text-white" style="z-index: 1000;">
        <div class="icon facebook wow animate__fadeInRight" id="facebook">
            <div class="tooltip">Facebook</div>
            <span><i class="fab fa-facebook-f"></i></span>
        </div>
        <div class="icon instagram wow animate__fadeInRight" id="instagram">
            <div class="tooltip">Instagram</div>
            <span><i class="fab fa-instagram"></i></span>
        </div>
        <div class="icon github wow animate__fadeInRight" id="github">
            <div class="tooltip">GitHub</div>
            <span><i class="fab fa-github"></i></span>
        </div>
        <div class="icon whatsapp wow animate__fadeInRight" id="whatsapp">
            <div class="tooltip">Whatsapp</div>
            <span><i class="fab fa-whatsapp"></i></span>
        </div>
    </div>

    <main class="">
        {% block content %}
        <!-- Contenido principal de la página -->
        {% endblock %}
    </main>

    <!-- Botón para subir al inicio -->
    <button id="back-to-top" title="Subir"><i class="fas fa-chevron-up"></i></button>

    <footer class="text-white text-center py-3 border-secondary border-3 border-top bg-dark mt-4">
        <p>&copy; 2025 JOMB. Todos los derechos reservados.</p>
    </footer>

    <script src="{% static 'js/redes.js' %}"></script>
    <script src="{% static 'js/particulas.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script>
        new WOW({
            boxClass:     'wow',            // clase que busca
            animateClass: 'animate__animated', // Animate.css v4
            offset:       100,              // despliega 100px antes
            mobile:       true,
            live:         true
        }).init();
    </script>

    <script>
        // Mostrar el botón para subir al bajar la página
        window.onscroll = function() {
            let btn = document.getElementById('back-to-top');
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                btn.style.display = 'block';
            } else {
                btn.style.display = 'none';
            }
        };

        // Función para subir al inicio
        document.getElementById('back-to-top').addEventListener('click', function() {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        });
    </script>

</body>

</html>
